@charset "UTF-8";
/*
font-family: 'Pangolin', cursive;
font-family: 'Yellowtail', cursive;

font-family: 'Lobster', cursive;
font-family: 'Indie Flower', cursive;



/*En commun */
.mt-3{
    margin-top:3px;
}

.mt-10{
    margin-top:10px;
}





.container-fluid{
    margin:0;
    padding:0 -15px 0 -15px;
}
section{
    margin-bottom:50px;
}

.mt-nav{
    margin-top:50px;
}
.mtb{
    padding:15px 15px 15px 15px;
}








body {
  margin-top: 100px;
  background-color: #fcf9f4;
  font-size: 1rem;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  font-family: "Lobster", cursive;
  color: #475a51;
}

h2 {
  font-size:1.7rem;
  padding-left:40px;
  color: #475a51;
  font-weight: bold;
  font-family: "Lobster", cursive;
}

h3 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
}

h4 {
  text-align: center;
  margin-left: 40px;
  font-size: 2.3rem;
  color: #656e68;
  font-family: "Lobster", cursive;
}

h5 {
  font-weight: bold;
  color: #475a51;
  margin-top: 25px;
  margin-left: 10px;
}


a {
  color: black;
}








.article {
  border: #796742 solid 1px;
  border-radius: 10px;
  background-color: #ccbdaa;

  padding-bottom:0px;

  min-height:280px;

  box-shadow: 2px 2px 5px grey;
}

.article img {
    width:80%;
    margin-top:25px;
    border-radius: 10px;
    border: #803962 solid 1px;
}





/* Navigation */
.navbar-brand {
  font-family: "Yellowtail", cursive;
  font-size: 2rem;
  margin-left: 10px;
}

.collapse ul {
  margin-right: 0px;
}
.collapse ul a {
  font-size: 1.2rem;
}












/* Présentation */

main .img-banniere {
  background-image: url(../img/fonds2.jpg);
  width: 100%;
}
main #presentation {
  padding-top: 80px;
  margin: 0px 0 0px 0;
  padding-bottom: 20px;
}
main #presentation p {
  color: white;
  font-size: 1.7rem;
  margin-left: 5vw;
  margin-right: 5vw;
}
main .parallax {
  background-attachment: fixed;
}
main .presentation-image {
  margin-top: 3vh;
}
main .presentation-image p {
  font-size: 2rem;
}
main .presentation-image .small {
  height: 40px;
  margin-top: 40px;
}






main .underline {
    height: 2px;
    width: 50px;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: #918e85;
    margin-left: 60px;
  }














footer {
  background-color: #dacec2;
  padding-left: 2vw;
  padding-right:2vw;
  width: 100%;
  
}
footer ul, footer p {
  list-style: none;
  padding-left: 10px;
  color: #656e68;
}
footer .mention {
  text-align: center;
  font-size: 0.8rem;
}
footer .social {
  padding-left: 10px;
  padding-right: 10px;
}
footer form {
  margin-left: 5px;
}
footer a {
  color: #656e68;
}














@media screen and (max-width: 767px) {
  .navbar {
    background-color: rgba(117, 155, 68, 0.945);
  }
  footer{
    min-width:100px;
    margin:0;
    padding:0;
}
}
@media screen and (max-width: 574px) {
  body{
    margin-left:5vw;
    margin-right:5vw;
  }
  h1 {
    font-size: 3rem;
  }

  h4 {
    font-size: 3rem;
  }

  #presentation p {
    font-size: 1.4rem !important;
  }

  article {
    width: 100% !important;
  }
  article img{
    max-width:60vw;
  }
  .article img{
    max-width:280px;
  }

  footer {
    text-align: center;
  }
  
}

/*# sourceMappingURL=style.css.map */
