@charset "UTF-8";
/*
font-family: 'Pangolin', cursive;
font-family: 'Yellowtail', cursive;

font-family: 'Lobster', cursive;
font-family: 'Indie Flower', cursive;



/*En commun */

p{
  margin:0;
  padding:0;
}

body {
  margin-top: 103px;
  margin-bottom:30px;
  background-color: #f1f1f1;
  font-size: 1rem;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
  color: #df5757;
}

h2 {
  font-size:1.7rem;
  color: #df5757;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;

  margin:5px 0 10px 0;
}

h3 {
  font-size: 1.2rem;
  font-family: "Indie Flower", cursive;
  color:#df5757;
}

h4 {
  text-align: center;
  margin-left: 40px;
  font-size: 2.3rem;
  color: #df5757;
  font-family: 'Roboto', sans-serif;
}

h5 {
  font-weight: bold;
  color: #df5757;
  margin-top: 30px;
  margin-bottom:15px;
}

.spacer{
  margin-left:10px;
  margin-right:10px;
}

.seperate{
  width: 50%;
  height: 1px;

  margin-left:auto;
  margin-right:auto;
  margin-top:20px;
  margin-bottom:40px;
  background-color: #c5c5c5;
}











/* Navigation */
.navbar-brand{
  display:flex;
}
.navbar-brand img{
  height: 100%;
  max-height: 60px;

  margin-right:10px;
}
.navbar-brand h1{
  margin-top:10px;
}


.collapse ul a {
  font-size: 1.5rem;
}












/* Post */

.vrai-post-exemple{
  margin-left:auto;
  margin-right:auto;

  padding-left:30px;
  padding-right:30px
}

.vrai-post-exemple img{
  width: 100%;
  max-width: 550px;
}
.vrai-post-exemple a img{
  display:flex;
}
.author{
  font-size:0.8rem;
  color:#808080;
}
.description{
  margin-bottom:20px;

  text-align: justify;
}
.vrai-post-exemple img{
  margin-right:auto;
  margin-left:auto;
}
.interaction-post{
  margin-left:auto;
  margin-right:auto;
}

.btn-ajouter-post{
  display: flex;
  justify-content: center;
}


 




/* Aside */
.aside{
  width: 90%;
  background-color: #e4e4e4;
  border-radius: 8px;
  
  margin-left:auto;
  margin-right:auto;
  padding-top:10px;
}
.text-presentation{
  text-align: justify;
  margin-top:10px;
}
.reseausociaux{
  margin-left:30px;
}
.aside a {
  color:#df5757;
}
.center{
  margin-left:auto;
  margin-right:auto;
}

.p-newsletter{
  margin-left:10px;
  margin-right:10px
}



.form-newsletter{
  margin-left:10px;
  margin-right:10px
}





/* Inscription */
.form-login{
  width:80%;
  border:solid rgb(151, 151, 151) 1px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 2px #757575;

  margin-top:20px;
  margin-bottom:30px;
  padding:20px;
}














/* Profil utilisateur*/
.compte-utilisateur{
  background-color:#dddddd;
  border-radius: 5px;

  margin-bottom: 30px;
  margin-right:15px;
  padding:15px;
}
.compte-utilisateur img{
  max-width: 300px;
  width: 200px;

  margin-top:10px;
  margin-bottom:10px;

  border: black solid 1px;;
}
.compte-utilisateur .nom-description{
  margin-left:30px;
}
.compte-utilisateur .image-nom-description{
  display: flex;
}
.btn-user{
  margin-top:-15px;
}













/* Edit profil */
.form-update-profil{
  border: rgb(119, 119, 119) solid 1px;
  box-shadow: #666665 2px 2px 2px ;
  border-radius: 5px;

  margin-bottom:30px;
  padding:15px;
}













/* Commentaires */

.media-heading{
  font-size:2rem;
}

.media{
  border: solid rgb(190, 190, 190) 1px;
  border-radius:5px;

  margin-top:10px;
  margin-bottom:10px;

  padding:15px;
}

.author-commentaire{
  padding-right:10px;

  font-size:1.2rem;
  font-weight: bold;
  color:#303030;
}














/* Footer*/

footer {
  background-color: #303030;
  padding-left: 2vw;
  padding-right:2vw;
}

footer a {
  color: #ffffff;
}

footer .mention {
  text-align: center;
  font-size: 0.8rem;
}







/*Média Queries */

@media screen and (min-width: 1200px) {
  .interaction-post{
    width: 72%;
  }
}

@media screen and (max-width: 1200px) {
  .interaction-post{
    width: 87%;
  }
}

@media screen and (max-width: 992px) {
  .interaction-post{
    width: 87%;
  }
}

@media screen and (max-width: 767px) {
  .navbar {
    background-color: rgba(117, 155, 68, 0.945);
  }
  .interaction-post{
    width: 100%;
  }
}

@media screen and (max-width: 574px) {
  body{
    margin-left:5vw;
    margin-right:5vw;
  }
  .navbar-brand img{
    height: 100%;
    max-height: 40px;
  
    margin-right:10px;
    margin-top:2px;
  }
  h1 {
    font-size: 1.5rem;
  }
  h4 {
    font-size: 3rem;
  }
  .interaction-post{
    width: 100%;
  }

  article {
    width: 100% !important;
  }
  article img{
    max-width:60vw;
  }
  .article img{
    max-width:280px;
  }

}

/*# sourceMappingURL=style.css.map */
